<!DOCTYPE html>
<html>
  <head>
    <title>Formula 1 Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Formula 1 Motorosports</h1>
    <p>Welcome to the pinnacle of motorsport racing</p>
  </body>
</html>
