
<%- include('./partials/header') %>
    <img id="car" src="https://i.imgur.com/Kc68fh1.jpg" alt="Welcome to Formula 1">
    <p>Click to view the current team lineups!</p>
    <a href="/teams">
      <button>Enter the race</button>
    </a>
  </body>
</html>
