* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #ffffff;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #e21809;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  color: white
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}
#home {
  height: 20px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0e0d0d;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white
}
nav > a#logo {
  background: black;
  justify-self: left;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

button.delete:hover {
  background-color: #e21809;
  box-shadow: 2px;
}

.new-form {
  color: black;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

form *, 
.dropdown {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

.new-form input[type="submit"] {
  grid-column: 1/ 3;
  width: 10rem;
  margin-left: auto;
  color: black
}
.new-form input[type="text"] {
  color: black
}

table {
  font-size: 20px;
  color: white;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
  color: white
}

table td {
  padding: 10px;
  text-align: center;
  color: white
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-team-form,
#add-driver-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-team-form input[type="submit"],
#add-driver-form input[type="submit"]  {
  width: 10rem;
  grid-column: 1 / 3;
  color: black
}
#add-team-form input[type="text"],
#add-driver-form input[type="text"]  {
  color: black
}
#add-team-form input[type="number"],
#add-driver-form input[type="number"]  {
  color: black
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

button {
  color: black
}
#car {
  height: 40vh
}